body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #0000ff;
    color: white;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .main {
    padding: 20px;
  }
  
  .content {
    text-align: center;
    max-width: 600px; /* Defina a largura máxima do conteúdo conforme necessário */
    margin: 0 auto; /* Isso centralizará o bloco de conteúdo */
  }
  
  .main-image {
    max-width: 550px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #d6a607;
  }
  
  p {
    color: #333;
  }

  .legend {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .legend-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  .legend-item div {
    margin-right: 8px;
  }

  .blue-marker {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

  .purple-marker {
    width: 20px;
    height: 20px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
  }